{% extends 'base_navbar.html' %}

{% block content_block %}
    {% include 'auth/_head.html' %}

    <div class="container">
    <div class="row justify-content-center mb-5">
        <form method="post" class="col-6">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.real_name.label }}
                {{ form.real_name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.student_number.label }}
                {{ form.student_number(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control", placeholder="若不修改密码则不填此项") }}
            </div>
            <div class="form-group">
                {{ form.verify_password.label }}
                {{ form.verify_password(class="form-control", placeholder="若不修改密码则不填此项") }}
            </div>
            <div class="form-group" {% if not current_user.can('user_manage') %} style="display: none" {% endif %}>
                {{ form.roles.label }}
                {{ form.roles(class="form-control") }}
            </div>

            <button type="submit" class="btn btn-warning"><i class="fas fa-sync"></i> 提交修改</button>
            <button type="reset" class="btn btn-primary"><i class="fas fa-undo"></i> 取消修改</button>
        </form>
    </div>
    </div>
{% endblock %}