{% extends "base_navbar.html" %}
{% block content_block %}
    {% include "auth/_head.html" %}
    <div class="container">
        {% include '_search.html' %}
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-around">
                <span>admin</span>
                <span>唐柯虎</span>
                <span>201410412217</span>
                <div class="btn-group btn-group-sm">
                    <a href="{{ url_for('auth.account', user_id=1) }}" class="btn btn-primary"><i class="fas fa-edit"></i> 编辑</a>
                    <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i> 删除</a>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-around">
                <span>admin</span>
                <span>唐柯虎</span>
                <span>201410412217</span>
                <div class="btn-group btn-group-sm">
                    <a href="#" class="btn btn-primary"><i class="fas fa-edit"></i> 编辑</a>
                    <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i> 删除</a>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-around">
                <span>admin</span>
                <span>唐柯虎</span>
                <span>201410412217</span>
                <div class="btn-group btn-group-sm">
                    <a href="#" class="btn btn-primary"><i class="fas fa-edit"></i> 编辑</a>
                    <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i> 删除</a>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-around">
                <span>admin</span>
                <span>唐柯虎</span>
                <span>201410412217</span>
                <div class="btn-group btn-group-sm">
                    <a href="#" class="btn btn-primary"><i class="fas fa-edit"></i> 编辑</a>
                    <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i> 删除</a>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}