{% extends "base_navbar.html" %}
{% block content_block %}
    {% include "auth/_head.html" %}
    <div class="container mb-5">
        {% include '_search.html' %}
        {% if users %}
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">用户名</th>
                    <th scope="col">实名</th>
                    <th scope="col">角色</th>
                    <th scope="col">操作</th>
                </tr>
              </thead>
              <tbody>
                {% for one in users %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ url_for('auth.profile', user_id=one.id) }}" class="text-primary">{{ one.username }}</a></td>
                    <td>{{ one.real_name }}</td>
                    <td>{% for item in one.role.all() %}{{ item.role_name }} &nbsp; {% endfor %}</td>
                    <td>
                      <a href="{{ url_for('auth.account', user_id=one.id) }}" class="mr-2 text-primary"><i class="fas fa-edit"></i> 编辑</a>
                      <a href="{{ url_for('auth.user_del', user_id=one.id) }}" class="text-danger"><i class="fas fa-trash"></i> 删除</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        {% else %}
            <div class="row">当前条件下无结果...</div>
        {% endif %}
    </div>
{% endblock %}