{% extends "base_navbar.html" %}
{% block content_block %}
    {% include "auth/_head.html" %}
    <div class="container">
        <div class="row justify-content-center my-5">
            <a href="{{ url_for('auth.role_add') }}" class="btn btn-info"><i class="fas fa-plus"></i> 新增角色</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-8 col-10">
                {% for one in roles %}
                    <a href="{{ url_for('auth.role_edit', role_id=one.id) }}" class="btn btn-secondary mx-2 my-2">{{ one.role_name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}