{% extends "base.html" %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ url_for('administration.train') }}" class="btn btn-default btn-outline" style="margin-bottom: 3%"><i class="fa fa-reply fa-fw"></i> 返 回</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-group">
                <!-- 左面栏 -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        集训题目
                    </div>
                    <div class="panel-body">
                        {% set timu = current_train.train_files.filter_by(train_file_type_id=1).all() %}
                        {% if timu %}
                            <table class="table">
                                <tbody>
                                {% for ti in timu %}
                                    <tr>
                                        <td style="width: 75%">{{ ti.name }}</td>
                                        <td>
                                            <a href="{% if ti.filename %}{{ url_for('train.download', filename=ti.filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                            <a onclick="fileDelete({{ ti.id }})" class="btn btn-danger btn-xs"><i class="fa fa-trash fa-fw"></i> 删 除</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无集训题目
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        模型结构
                    </div>
                    <div class="panel-body">
                        {% set moxing = current_train.train_files.filter_by(train_file_type_id=2).all() %}
                        {% if moxing %}
                            <table class="table">
                                <tbody>
                                {% for mo in moxing %}
                                    <tr>
                                        <td style="width: 75%">{{ mo.name }}</td>
                                        <td>
                                            <a href="{% if mo.filename %}{{ url_for('train.download', filename=mo.filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                            <a onclick="fileDelete({{ mo.id }})" class="btn btn-danger btn-xs"><i class="fa fa-trash fa-fw"></i> 删 除</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无模型结构
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        参考资料
                    </div>
                    <div class="panel-body">
                        {% set ziliao = current_train.train_files.filter_by(train_file_type_id=8).all() %}
                        {% if ziliao %}
                            <table class="table">
                                <tbody>
                                {% for zi in ziliao %}
                                    <tr>
                                        <td style="width: 75%">{{ zi.name }}</td>
                                        <td>
                                            <a href="{% if zi.filename %}{{ url_for('train.download', filename=zi.filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                            <a onclick="fileDelete({{ zi.id }})" class="btn btn-danger btn-xs"><i class="fa fa-trash fa-fw"></i> 删 除</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无参考资料
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        评分标准
                    </div>
                    <div class="panel-body">
                        {% set biaozhun = current_train.train_files.filter_by(train_file_type_id=4).all() %}
                        {% if biaozhun %}
                            <table class="table">
                                <tbody>
                                {% for bi in biaozhun %}
                                    <tr>
                                        <td style="width: 75%">{{ bi.name }}</td>
                                        <td>
                                            <a href="{% if bi.filename %}{{ url_for('train.download', filename=bi.filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                            <a onclick="fileDelete({{ bi.id }})" class="btn btn-danger btn-xs"><i class="fa fa-trash fa-fw"></i> 删 除</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无评分标准
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        评分表
                    </div>
                    <div class="panel-body">
                        {% set biao = current_train.train_files.filter_by(train_file_type_id=6).all() %}
                        {% if biao %}
                            <table class="table">
                                <tbody>
                                {% for bi in biao %}
                                    {% if not bi.train_team_id %}
                                    <tr>
                                        <td style="width: 75%">{{ bi.name }}</td>
                                        <td>
                                            <a href="{% if bi.filename %}{{ url_for('train.download', filename=bi.filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                            <a onclick="fileDelete({{ bi.id }})" class="btn btn-danger btn-xs"><i class="fa fa-trash fa-fw"></i> 删 除</a>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无评分表
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        小组管理
                    </div>
                    <div class="panel-body">
                        {% if current_train.train_team.all() %}
                            <table id="teamTable" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th width="15%">组号</th>
                                        <th width="70%">成员</th>
                                        <th width="15%">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for t in current_train.train_team.all() %}
                                    <tr>
                                        <td>{{ t.number }}</td>
                                        <td>{{ t.members }}</td>
                                        <td><a onclick="teamDelete({{ t.id }})" class="btn btn-danger btn-xs btn-outline"><i class="fa fa-trash-o fa-fw"></i> 删除</a> </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- 单个小组新增 -->
                            <a onclick="createSingleTeam()" class="btn btn-primary btn-outline"><i class="fa fa-plus-circle fa-fw"></i> 新 增</a>
                            <!-- / 单个小组新增 -->
                            <!-- 导出 -->
                            <a onclick="" class="btn btn-primary btn-outline"><i class="fa fa-share-square-o fa-fw"></i> 导 出</a>
                        {% else %}
                            <form id="createTeamForm">
                                <div class="form-group">
                                    <label>设置小组总数</label>
                                    <input class="form-control" type="number" name="team_count" placeholder="总共有多少个小组？">
                                </div>
                                <a onclick="createTeams()" class="btn btn-primary btn-outline"><i class="fa fa-plus-circle fa-fw"></i> 创 建</a>
                            </form>
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        小组文件数据管理
                    </div>

                    <div class="panel-body">
                    <table id="filesTable" class="table table-hover">
                        <thead>
                        <tr>
                            <th width="12%">组号</th>
                            <th width="22%">项目管理</th>
                            <th width="22%">论文</th>
                            <th width="22%">评分表</th>
                            <th width="22%">总结</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if current_train.train_team %}
                            {% for t in current_train.train_team.all() %}
                                <tr>
                                    <td>{{ t.number }}</td>
                                    <td>
                                        {% set three = t.train_files.filter_by(train_file_type_id=3).first() %}
                                        {% if three %}
                                        <a href="{{ url_for('train.download', filename=three.filename) }}" class="btn btn-outline btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> </a>
                                        <a href="{{ url_for('train.download', filename=three.filename) }}" class="btn btn-outline btn-info btn-xs"><i class="fa fa-download fa-fw"></i> </a>
                                        <a onclick="fileDelete({{ three.id }})" class="btn btn-outline btn-danger btn-xs"><i class="fa fa-trash-o fa-fw"></i> </a>
                                        {% else %}
                                        无
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% set five = t.train_files.filter_by(train_file_type_id=5).first() %}
                                        {% if five %}
                                        <a href="{{ url_for('train.download', filename=five.filename) }}" class="btn btn-outline btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> </a>
                                        <a href="{{ url_for('train.download', filename=five.filename) }}" class="btn btn-outline btn-info btn-xs"><i class="fa fa-download fa-fw"></i> </a>
                                        <a onclick="fileDelete({{ five.id }})" class="btn btn-outline btn-danger btn-xs"><i class="fa fa-trash-o fa-fw"></i> </a>
                                        {% else %}
                                        无
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% set six = t.train_files.filter_by(train_file_type_id=6).first() %}
                                        {% if six %}
                                        <a href="{{ url_for('train.download', filename=six.filename) }}" class="btn btn-outline btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> </a>
                                        <a href="{{ url_for('train.download', filename=six.filename) }}" class="btn btn-outline btn-info btn-xs"><i class="fa fa-download fa-fw"></i> </a>
                                        <a onclick="fileDelete({{ six.id }})" class="btn btn-outline btn-danger btn-xs"><i class="fa fa-trash-o fa-fw"></i> </a>
                                        {% else %}
                                        无
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% set seven = t.train_files.filter_by(train_file_type_id=7).first() %}
                                        {% if seven %}
                                        <a href="{{ url_for('train.download', filename=seven.filename) }}" class="btn btn-outline btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> </a>
                                        <a href="{{ url_for('train.download', filename=seven.filename) }}" class="btn btn-outline btn-info btn-xs"><i class="fa fa-download fa-fw"></i> </a>
                                        <a onclick="fileDelete({{ seven.id }})" class="btn btn-outline btn-danger btn-xs"><i class="fa fa-trash-o fa-fw"></i> </a>
                                        {% else %}
                                        无
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    </div>
                </div>
                <!-- / 左面栏 -->
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-group">
                <!-- 右面栏 -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        文档上传
                    </div>
                    <div class="panel-body">
                        <form role="form" action="" method="post" enctype="multipart/form-data">
                             <div class="form-group">
                                <label>选择类别</label>
                                <input type="radio" name="train_file_type_id" value="1" required>集训题目
                                <input type="radio" name="train_file_type_id" value="2">模型结构
                                <input type="radio" name="train_file_type_id" value="4">评分标准
                                <input type="radio" name="train_file_type_id" value="6">评分表
                                <input type="radio" name="train_file_type_id" value="8">参考材料
                            </div>
                            <div class="form-group">
                                <label>选择文件</label>
                                <input type="file" name="file" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-outline"><i class="fa fa-upload fa-fw"></i> 上 传</button>
                        </form>
                    </div>
                </div>

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        评分任务分发
                    </div>
                    <div class="panel-body">
                        datatables
                    </div>
                </div>
                <!-- / 右面栏 -->
            </div>
        </div>

    </div>

{% endblock %}


{% block base_script %}

<script type="text/javascript">
    // 小组管理的表格处理
    $("#teamTable").DataTable({
        "stateSave": true,
        "lengthMenu": [5, 10, 20, 40],
        language: dtLanguage
    });

    // 文件管理表格处理
    $("#filesTable").DataTable({
        "stateSave": true,
        "lengthMenu": [5, 10, 20, 40],
        language: dtLanguage
    });

    // 文件删除操作
    function fileDelete(file_id) {
        layer.msg("确认本次操作", {
            time: 0,
            btn: ['确认', '取消'],
            yes: function () {
                $.ajax({
                    url: "{{ url_for('administration.train_files_delete', train_files_id='') }}"+file_id,
                    type: 'GET',
                    success: function (result) {
                        if (result == 'true'){
                            layer.msg("删除成功！");
                            setTimeout(function () {
                                location.href = "{{ url_for('administration.train_edit', train_id=current_train.id) }}";
                            }, 500);
                        }else {
                            layer.msg(result);
                        }
                    }
                })
            }
        })
    }

    // 批量创建小组
    function createTeams() {
        if ($("#createTeamForm").find("input[name='team_count']").val() == ''){
            layer.msg("表单未填写，且表单只能填写数字！");
        }else {
            layer.load(1);  // 加载中计时
            $.ajax({
                url: "{{ url_for('administration.team_manage', train_id=current_train.id) }}",
                type: "POST",
                data: $("#createTeamForm").serialize(),
                success: function (result) {
                    layer.closeAll('loading');
                    if (result == 'true'){
                        layer.msg("创建成功！");
                        setTimeout(function () {
                            location.href = "{{ url_for('administration.train_edit', train_id=current_train.id) }}"
                        }, 500);
                    }else {
                        layer.msg(result);
                    }
                }
            })
        }
    }

    // 单个创建小组
    function createSingleTeam() {
        layer.prompt({title: '请输入要新增的组号:'}, function (val, index) {
            layer.close(index);
            layer.load(1);
            $.ajax({
                url: "{{ url_for('administration.team_edit', team_id='') }}"+val,
                type: "POST",
                data: {'train_id': {{ current_train.id }}},
                success: function (result) {
                    layer.closeAll('loading');
                    if (result == 'true'){
                        layer.msg("新增成功！");
                        setTimeout(function () {
                            location.href = "{{ url_for('administration.train_edit', train_id=current_train.id) }}";
                        }, 500);
                    }else {
                        layer.msg(result);
                    }
                }
            })
        });
    }

    // 小组删除功能
    function teamDelete(team_id) {
        layer.msg("确认本次操作", {
            time: 0,
            btn: ['确认', '取消'],
            yes: function () {
                $.ajax({
                    url: "{{ url_for('administration.team_edit', team_id='') }}"+team_id,
                    type: 'GET',
                    success: function (result) {
                        if (result == 'true'){
                            layer.msg("删除成功！");
                            setTimeout(function () {
                                location.href = "{{ url_for('administration.train_edit', train_id=current_train.id) }}";
                            }, 500);
                        }else {
                            layer.msg(result);
                        }
                    }
                })
            }
        })
    }
    
</script>

{% endblock %}