{% extends "base.html" %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-4">
{#            <a href="#" class="btn btn-success"><i class="fa fa-map-signs fa-fw"></i> 开启集训</a>#}
{#            <a href="#" class="btn btn-success"><i class="fa fa-map-signs fa-fw"></i> 发布题目</a>#}
{#            <a href="#" class="btn btn-success"><i class="fa fa-map-signs fa-fw"></i> 发布模型结构</a>#}
{#            <a href="#" class="btn btn-success"><i class="fa fa-map-signs fa-fw"></i> 发布评分标准</a>#}
{#            <a href="#" class="btn btn-success"><i class="fa fa-map-signs fa-fw"></i> 发布评分表</a>#}
{#            <a href="#" class="btn btn-success"><i class="fa fa-map-signs fa-fw"></i> 查看项目管理文档</a>#}
{#            <a href="#" class="btn btn-success"><i class="fa fa-map-signs fa-fw"></i> 查看论文</a>#}
{#            <a href="#" class="btn btn-success"><i class="fa fa-map-signs fa-fw"></i> 发布论文互评任务</a>#}
{#            <a href="#" class="btn btn-success"><i class="fa fa-map-signs fa-fw"></i> 分数公示</a>#}
{#            <a href="#" class="btn btn-success"><i class="fa fa-map-signs fa-fw"></i> 查看总结</a>#}
{#            <a href="#" class="btn btn-success"><i class="fa fa-map-signs fa-fw"></i> 结束集训</a>#}
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>发布信息</h4>
                </div>
                <div class="col-md-12">
                    <h4 class="text-center"><i class="fa fa-hand-o-down fa-fw"></i> </h4>
                </div>
                <div class="col-md-12">
                    <a href="#" class="btn btn-outline btn-block btn-success">
                        <h4>发布题目</h4>
                    </a>
                </div>
                <div class="col-md-12">
                    <h4 class="text-center"><i class="fa fa-arrow-down fa-fw"></i> </h4>
                </div>
                <div class="col-md-12">
                    <a href="#" class="btn btn-outline btn-block btn-primary">
                        <h4>发布模型结构</h4>
                    </a>
                </div>
                <div class="col-md-12">
                    <h4 class="text-center"><i class="fa fa-arrow-down fa-fw"></i> </h4>
                </div>
                <div class="col-md-12">
                    <a href="#" class="btn btn-outline btn-block btn-warning">
                        <h3>发布评分标准</h3>
                    </a>
                </div>
                <div class="col-md-12">
                    <h2 class="text-center"><i class="fa fa-arrow-down fa-fw"></i> </h2>
                </div>
                <div class="col-md-12">
                    <a href="#" class="btn btn-outline btn-block btn-info">
                        <h3>发布参考材料</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="btn btn-outline btn-block btn-success">
                        <h3>发布题目</h3>
                    </a>
                </div>
                <div class="col-md-12">
                    <h2 class="text-center"><i class="fa fa-arrow-down fa-fw"></i> </h2>
                </div>
                <div class="col-md-12">
                    <a href="#" class="btn btn-outline btn-block btn-primary">
                        <h3>发布模型结构</h3>
                    </a>
                </div>
                <div class="col-md-12">
                    <h2 class="text-center"><i class="fa fa-arrow-down fa-fw"></i> </h2>
                </div>
                <div class="col-md-12">
                    <a href="#" class="btn btn-outline btn-block btn-warning">
                        <h3>发布评分标准</h3>
                    </a>
                </div>
                <div class="col-md-12">
                    <h2 class="text-center"><i class="fa fa-arrow-down fa-fw"></i> </h2>
                </div>
                <div class="col-md-12">
                    <a href="#" class="btn btn-outline btn-block btn-info">
                        <h3>发布参考材料</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="btn btn-outline btn-block btn-success">
                        <h3>发布题目</h3>
                    </a>
                </div>
                <div class="col-md-12">
                    <h2 class="text-center"><i class="fa fa-arrow-down fa-fw"></i> </h2>
                </div>
                <div class="col-md-12">
                    <a href="#" class="btn btn-outline btn-block btn-primary">
                        <h3>发布模型结构</h3>
                    </a>
                </div>
                <div class="col-md-12">
                    <h2 class="text-center"><i class="fa fa-arrow-down fa-fw"></i> </h2>
                </div>
                <div class="col-md-12">
                    <a href="#" class="btn btn-outline btn-block btn-warning">
                        <h3>发布评分标准</h3>
                    </a>
                </div>
                <div class="col-md-12">
                    <h2 class="text-center"><i class="fa fa-arrow-down fa-fw"></i> </h2>
                </div>
                <div class="col-md-12">
                    <a href="#" class="btn btn-outline btn-block btn-info">
                        <h3>发布参考材料</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}