{% extends "base_navbar.html" %}

{% block content_block %}
    <div class="container">
    <div class="row justify-content-center my-4">
        <div class="col-xl-6 col-md-8">
            <form method="post">
                <div class="input-group">
                    <input type="text" class="form-control" name="words" {% if words %} value="{{ words }}" {% endif %}>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> 搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <a href="{{ url_for('community.question_add') }}" class="btn btn-primary"><i class="fas fa-plus"></i> 我要提问</a>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-xl-8 col-md-10">
            <div class="list-group">
              <a href="{{ url_for('.question_info', question_id=1) }}" class="list-group-item list-group-item-action flex-column align-items-start my-2">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">这里是一个问题标题</h5>
                  <small>3个回答</small>
                </div>
                <small class="text-muted">唐柯虎 &nbsp;&nbsp; 2018-05-13</small>
                <p class="mb-1">这里是问题描述这里是问题描述这里是问题描述这里是问题描述这里是问题描述这里是问题描述这里是问题描述</p>
              </a>
              <a href="{{ url_for('.question_info', question_id=1) }}" class="list-group-item list-group-item-action flex-column align-items-start my-2">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">这里是一个问题标题</h5>
                  <small>3个回答</small>
                </div>
                <small class="text-muted">唐柯虎 &nbsp;&nbsp; 2018-05-13</small>
                <p class="mb-1">这里是问题描述这里是问题描述这里是问题描述这里是问题描述这里是问题描述这里是问题描述这里是问题描述</p>
              </a>
              <a href="{{ url_for('.question_info', question_id=1) }}" class="list-group-item list-group-item-action flex-column align-items-start my-2">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">这里是一个问题标题</h5>
                  <small>3个回答</small>
                </div>
                <small class="text-muted">唐柯虎 &nbsp;&nbsp; 2018-05-13</small>
                <p class="mb-1">这里是问题描述这里是问题描述这里是问题描述这里是问题描述这里是问题描述这里是问题描述这里是问题描述</p>
              </a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}