{% extends "base_navbar.html" %}

{% block content_block %}
    <div class="container">
    <div class="row justify-content-center my-4">
        <div class="col-xl-6 col-md-8">
            <form method="post">
                <div class="input-group">
                    <input type="text" class="form-control" name="words" {% if words %} value="{{ words }}" {% endif %}>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> 搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <a href="#" class="btn btn-info"><i class="fas fa-question"></i> 我要提问</a>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-xl-8 col-md-10">
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" class="text-dark">这里是一个问题</a></h5>
                    <p class="card-text text-muted">唐柯虎 &nbsp;&nbsp;2018-05-13</p>
                    <p class="card-text">这里是问题描述，这里是问题描述，这里是问题描述，这里是问题描述，这里是问题描述，这里是问题描述，这里是问题描述</p>
                    <a href="#" class="card-link"><i class="fas fa-edit"></i> 编辑</a>
                    <a href="#" class="card-link"><i class="fas fa-trash"></i> 删除</a>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" class="text-dark">这里是一个问题</a></h5>
                    <p class="card-text text-muted">唐柯虎 &nbsp;&nbsp;2018-05-13</p>
                    <p class="card-text">这里是问题描述，这里是问题描述，这里是问题描述，这里是问题描述，这里是问题描述，这里是问题描述，这里是问题描述</p>
                    <a href="#" class="card-link"><i class="fas fa-edit"></i> 编辑</a>
                    <a href="#" class="card-link"><i class="fas fa-trash"></i> 删除</a>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" class="text-dark">这里是一个问题</a></h5>
                    <p class="card-text text-muted">唐柯虎 &nbsp;&nbsp;2018-05-13</p>
                    <p class="card-text">这里是问题描述，这里是问题描述，这里是问题描述，这里是问题描述，这里是问题描述，这里是问题描述，这里是问题描述</p>
                    <a href="#" class="card-link"><i class="fas fa-edit"></i> 编辑</a>
                    <a href="#" class="card-link"><i class="fas fa-trash"></i> 删除</a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}