{% extends "base_navbar.html" %}

{% block content_block %}
    <div class="container">
    <div class="row justify-content-center my-4">
        <div class="col-xl-6 col-md-10">
            <form method="post">
                <div class="form-group">
                    <label for="questionID">问题标题：</label>
                    <input type="text" class="form-control" id="questionID" name="title" {% if question %} value="{{ question }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label for="describeID">问题描述（可选）：</label>
                    <textarea class="form-control" id="describeID" name="description" rows="3"></textarea>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="hideID" name="hide_user">
                    <label for="hideID" class="form-check-label">匿名提问</label>
                </div>
                <button type="submit" class="btn btn-primary">提交问题</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}