{% extends "base_navbar.html" %}
{% block content_block %}
    <div class="container-fluid">
        <div class="row justify-content-center my-5">
            <div id="page_view_chart" style="width: 100%; height:400%;"></div>
        </div>
        <div class="row justify-content-center my-5">
            <div id="resource_count_chart" style="width: 100%; height:400%;"></div>
        </div>
    </div>
{% endblock %}

{% block script_block %}
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>

    <script type="text/javascript">
        var pvChart = echarts.init(document.getElementById('page_view_chart'));
        var pvOption = {
            tooltip: {
                trigger: 'axis'
            },
            title: {
                text: '访问量趋势图',
                left: 'center'
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: {{ data['date']|tojson|safe }}
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: {{ data['pv_count']|tojson|safe }},
                type: 'line',
                areaStyle: {},
                color: '#73b9bc'
            }]
        };
        pvChart.setOption(pvOption);


        var resourceChart = echarts.init(document.getElementById('resource_count_chart'));
        var resourceOption = {
            tooltip: {
                trigger: 'axis'
            },
            title: {
                text: '资源增量趋势图',
                left: 'center'
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: {{ data['date']|tojson|safe }}
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: {{ data['rs_count']|tojson|safe }},
                type: 'line',
                areaStyle: {},
                color: '#91c7ae'
            }]
        };
        resourceChart.setOption(resourceOption);
    </script>
{% endblock %}