<ul class="list-group list-group-flush">
    {% if resource_list.get('type') %}
        {% for one in resource_list['type'] %}
            <li class="list-group-item">
                <i class="fas fa-folder text-primary mr-2"></i>
                <a href="{{ url_for('know.resource', type_id=one.id) }}" class="text-dark">{{ one.type_name }}</a>
                <small class="text-muted ml-2">{{ one.type_code }}</small>
                {% if current_user.can('know_type_manage') %}
                    <span class="float-right">
                        <a href="{{ url_for('know.edit_type', type_id=one.id) }}" class="mx-2 text-primary"><i class="fas fa-redo-alt"></i> 重命名</a>
                        <a href="{{ url_for('know.del_type', type_id=one.id) }}" class="text-danger"><i class="fas fa-trash"></i> 删除</a>
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    {% endif %}

    {% if resource_list.get('resource') %}
        {% for one in resource_list['resource'] %}
            {% include 'know/_file_list.html' %}
        {% endfor %}
    {% endif %}

    {% if not resource_list.get('type') and not resource_list.get('resource') %}
        <li class="list-group-item">当前目录下无资源...</li>
    {% endif %}
</ul>