<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <a href="#">
            <span class="ion ion-folder mr-2"></span>
            数学建模集训
        </a>
        <div class="btn-group btn-group-sm float-right" role="group">
            <button type="button" class="btn btn-primary"><span class="ion ion-refresh"></span> 重命名</button>
            <button type="button" class="btn btn-danger"><span class="ion ion-trash-a"></span> 删除</button>
        </div>
    </li>
    <li class="list-group-item" data-toggle="tooltip" title="发布人：<u>唐柯虎</u>；<br>发布时间：2018-05-02；<br>所属类别：建模集训">
        <a href="#">
            <span class="ion ion-document-text mr-2"></span>
            数学建模相关模型概览
        </a>
        <span class="badge badge-success badge-pill">66 赞</span>
        <div class="btn-group btn-group-sm float-right" role="group">
            <button type="button" class="btn btn-success"><span class="ion ion-thumbsup"></span> 点赞</button>
            <button type="button" class="btn btn-primary"><span class="ion ion-refresh"></span> 重命名</button>
            <button type="button" class="btn btn-danger"><span class="ion ion-trash-a"></span> 删除</button>
        </div>
    </li>
    <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
        <a href="#">
            <span class="ion ion-document-text mr-2"></span>
            数学建模相关模型概览
        </a>
        <span class="badge badge-success badge-pill">66 赞</span>
         <div class="btn-group btn-group-sm float-right" role="group">
            <button type="button" class="btn btn-success"><span class="ion ion-thumbsup"></span> 点赞</button>
            <button type="button" class="btn btn-primary"><span class="ion ion-refresh"></span> 重命名</button>
            <button type="button" class="btn btn-danger"><span class="ion ion-trash-a"></span> 删除</button>
        </div>
    </li>
    <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
        <a href="#">
            <span class="ion ion-document-text mr-2"></span>
            数学建模相关模型概览
        </a>
        <span class="badge badge-success badge-pill">66 赞</span>
         <div class="btn-group btn-group-sm float-right" role="group">
            <button type="button" class="btn btn-success"><span class="ion ion-thumbsup"></span> 点赞</button>
            <button type="button" class="btn btn-primary"><span class="ion ion-refresh"></span> 重命名</button>
            <button type="button" class="btn btn-danger"><span class="ion ion-trash-a"></span> 删除</button>
        </div>
    </li>
</ul>