    <div class="row justify-content-center my-5">
        <div class="col-xl-6 col-md-10">
            <form action="{{ url_for('know.search') }}" method="post">
                <div class="input-group">
                    <select class="custom-select col-3 bg-primary text-light" id="inputGroupSelect02" name="search_type">
                        <option value="1" selected>全部</option>
                        <option value="2">集训题目</option>
                        <option value="3">网络资源</option>
                    </select>
                    <input type="text" class="form-control" name="search_words">
                    <div class="input-group-append">
                        <button class="btn bg-primary text-white" type="submit">
                            <span class="ion ion-ios-search mr-1"></span> 搜索
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>