    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10 col-sm-12">
            <div class="input-group">
                <select class="custom-select col-3 bg-primary text-light" id="inputGroupSelect02">
                    <option value="1" selected>全部</option>
                    <option value="2">集训题目</option>
                    <option value="3">网络资源</option>
                </select>
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <button class="btn bg-primary text-white" type="button"><span class="ion ion-ios-search mr-1"></span> 搜索</button>
                </div>
            </div>
        </div>
    </div>