{% extends 'base_navbar.html' %}

{% block content_block %}
  {% include 'know/_navs.html' %}
  <div class="container">
    <div class="card my-5">
        <ul class="list-group list-group-flush">
            {% for one in resources %}
            <li class="list-group-item">
                <i class="fas fa-file-alt text-primary mr-2"></i>
                <a href="{{ url_for('know.show_resource', resource_id=one.id) }}" class="text-dark"> {{ one.resource_name }}</a>
                <small class="text-muted ml-2">{{ one.user.username }} &nbsp; {{ one.create_time }} &nbsp; {{ one.know_type.type_name }}</small>
                <div class="btn-group btn-group-sm float-right" role="group">
                    <a href="{{ url_for('know.del_resource', resource_id=one.id) }}" class="btn btn-outline-danger" type="button">
                        <i class="fas fa-trash"></i> 删除
                    </a>
                    <a href="{{ url_for('know.file_pass', resource_id=one.id) }}" class="btn btn-outline-success" type="button">
                        <i class="fas fa-check"></i> 通过
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
  </div>
{% endblock %}