{% extends 'base_navbar.html' %}

{% block content_block %}
  <div class="container">
    {% include 'know/_navs.html' %}
    <div class="card my-5">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <i class="fas fa-file-alt text-primary mr-2"></i>
                <a href="#" class="text-dark"> 雨量预报方法的评价</a>
                <small class="text-muted ml-2">唐柯虎 &nbsp; 2018-05-03</small>
                <div class="btn-group btn-group-sm float-right" role="group">
                    <button class="btn btn-outline-danger" type="button">
                        <i class="fas fa-trash"></i> 删除
                    </button>
                    <button class="btn btn-outline-success" type="button">
                        <i class="fas fa-check"></i> 通过
                    </button>
                </div>
            </li>
            <li class="list-group-item">
                <i class="fas fa-file-alt text-primary mr-2"></i>
                <a href="#" class="text-dark"> 数码相机定位</a>
                <small class="text-muted ml-2">唐柯虎 &nbsp; 2018-05-03</small>
                <div class="btn-group btn-group-sm float-right" role="group">
                    <button class="btn btn-outline-danger" type="button">
                        <i class="fas fa-trash"></i> 删除
                    </button>
                    <button class="btn btn-outline-success" type="button">
                        <i class="fas fa-check"></i> 通过
                    </button>
                </div>
            </li>
            <li class="list-group-item">
                <i class="fas fa-file-alt text-primary mr-2"></i>
                <a href="#" class="text-dark"> 卫星和飞船的跟踪测控</a>
                <small class="text-muted ml-2">唐柯虎 &nbsp; 2018-05-03</small>
                <div class="btn-group btn-group-sm float-right" role="group">
                    <button class="btn btn-outline-danger" type="button">
                        <i class="fas fa-trash"></i> 删除
                    </button>
                    <button class="btn btn-outline-success" type="button">
                        <i class="fas fa-check"></i> 通过
                    </button>
                </div>
            </li>
        </ul>
    </div>
  </div>
{% endblock %}