{% extends 'base_navbar.html' %}

{% block content_block %}
  {% include 'know/_navs.html' %}
  <div class="container">
    {% include 'know/_search.html' %}
    <div class="card">
        <div class="card-header">
            最新文件TOP10
        </div>
        {% include 'know/_list.html' %}
    </div>

    <div class="card mt-5">
        <div class="card-header">
            最热文件TOP10
        </div>
        {% include 'know/_list.html' %}
    </div>

    <div class="card mt-5">
        <div class="card-header">
            智能推荐
        </div>
        {% include 'know/_list.html' %}
    </div>

    <div class="card mt-5">
        <div class="card-header">
            网络资源TOP10
        </div>
        {% include 'know/_list.html' %}
    </div>
  </div>
{% endblock %}