{% extends 'base_navbar.html' %}

{% block content_block %}
  {% include 'know/_navs.html' %}
  <div class="container">
    {% include 'know/_search.html' %}
    <div class="card">
        <div class="card-header">
            最新文件
        </div>
        <ul class="list-group list-group-flush">
            {% for one in resource_newest %}
                {% include 'know/_file_list.html' %}
            {% endfor %}
            {% if not resource_newest %}
                <li class="list-group-item">当前无排行数据...</li>
            {% endif %}
        </ul>
    </div>

    <div class="card mt-5">
        <div class="card-header">
            最热文件
        </div>
        <ul class="list-group list-group-flush">
            {% for one in resource_hottest %}
                {% include 'know/_file_list.html' %}
            {% endfor %}
            {% if not resource_hottest %}
                <li class="list-group-item">当前无排行数据...</li>
            {% endif %}
        </ul>
    </div>
  </div>
{% endblock %}