{% extends 'base_navbar.html' %}

{% block content_block %}
  {% include 'know/_navs.html' %}
  <div class="container">
    {% include 'know/_search.html' %}
    <div class="card">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="#">根目录</a></li>
            <li class="breadcrumb-item"><a href="#">集训文件</a></li>
            <li class="breadcrumb-item active" aria-current="page">建模题目</li>

            <a href="{{ url_for('know.upload') }}" class="ml-4 text-success"><i class="fas fa-cloud-upload-alt"></i> 上传</a>
            <a href="{{ url_for('know.edit_name') }}" class="ml-4 text-info"><i class="fas fa-plus"></i> 添加</a>
          </ol>
        </nav>

        {% include 'know/_list.html' %}
    </div>
  </div>
{% endblock %}