{% extends 'base_navbar.html' %}

{% block content_block %}
    {% include 'know/_navs.html' %}
    <div class="row justify-content-center my-4">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-white">
                <li class="breadcrumb-item"><a href="#">根目录</a></li>
                <li class="breadcrumb-item"><a href="#">数学建模</a></li>
                <li class="breadcrumb-item"><a href="#">集训</a></li>
                <li class="breadcrumb-item active" aria-current="page">建模题目</li>
              </ol>
            </nav>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-8 col-sm-10">
                    <form method="post" enctype="multipart/form-data">
                        <div class="custom-file my-5">
                          <input type="file" class="custom-file-input" id="customFile" name="file">
                          <label class="custom-file-label" for="customFile">请选择文件...</label>
                        </div>
                        <button class="btn btn-primary my-4" type="submit"><span class="ion ion-upload"></span> 上传</button>
                        <a href="{{ url_for('know.resource') }}" class="btn btn-warning my-4"><span class="ion ion-arrow-return-left"></span> 取消</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}