{% extends 'base_navbar.html' %}

{% block content_block %}
  {% include 'know/_navs.html' %}
  <div class="container">
    <div class="card my-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="#">/ 根目录</a></li>
            {% for one in parents %}
                {% if one[0] == current_type_id %}
                    <li class="breadcrumb-item active" aria-current="page">{{ one[1] }}</li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{{ url_for('.resource', type_id=one[0]) }}">{{ one[1] }}</a></li>
                {% endif %}
            {% endfor %}
          </ol>
        </nav>
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-8 col-10">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleFormControlFile1">请选择文件...</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file">
                    </div>
                    <button class="btn btn-primary my-4" type="submit"><i class="fas fa-cloud-upload-alt"></i> 上传</button>
                    <a href="{{ url_for('know.resource', type_id=current_type_id) }}" class="btn btn-warning my-4"><i class="fas fa-undo-alt"></i> 取消</a>
                </form>
            </div>
        </div>
    </div>
  </div>
{% endblock %}