    <div class="nav nav-pills justify-content-center my-2">
      <a class="nav-item nav-link {% if 'file' in active_flg %} active {% endif %}" href="{{ url_for('train.file', type_id=1) }}">
          <i class="fas fa-folder-open"></i> 文件
      </a>
      <a class="nav-item nav-link {% if 'team' in active_flg %} active {% endif %}" href="{{ url_for('train.team') }}">
          <i class="fas fa-users"></i> 小组
      </a>
      <a class="nav-item nav-link {% if 'student' in active_flg %} active {% endif %}" href="{{ url_for('train.student') }}">
          <i class="fas fa-users-cog"></i> 学员
      </a>
      <a class="nav-item nav-link text-danger {% if 'over' in active_flg %} active {% endif %}" href="{{ url_for('train.over') }}">
          <i class="fas fa-power-off"></i> 结束
      </a>
    </div>