{% extends "base_navbar.html" %}
{% block content_block %}
    <div class="container text-center">
        {% if current_user.train_student %}
            <h3 class="my-5">已提交报名表，待审核...</h3>
        {% else %}
            <h3 class="my-5">集训报名</h3>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form method="post">
                        <textarea class="form-control" name="resume" rows="5" placeholder="请输入个人简介..." aria-multiline="true"></textarea>
                        <button type="submit" class="btn btn-primary my-5"><i class="fas fa-edit"></i> 报名</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}