{% extends "base.html" %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-group">
                <!-- 内容 -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        集训题目
                    </div>
                    <div class="panel-body">
                        {% set timu = current_train.train_files.filter_by(train_file_type_id=1).all() %}
                        {% if timu %}
                            <table class="table">
                                <tbody>
                                {% for ti in timu %}
                                    <tr>
                                        <td style="width: 75%">{{ ti.name }}</td>
                                        <td>
                                            <a href="{% if ti.filename %}{{ url_for('train.download', filename=ti.filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                            <a href="{% if ti.filename %}{{ url_for('train.download', filename=ti.filename) }}{% else %}#{% endif %}" class="btn btn-warning btn-xs"><i class="fa fa-download fa-fw"></i> 下 载</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无集训题目
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        模型结构
                    </div>
                    <div class="panel-body">
                        {% set moxing = current_train.train_files.filter_by(train_file_type_id=2).all() %}
                        {% if moxing %}
                            <table class="table">
                                <tbody>
                                {% for mo in moxing %}
                                    <tr>
                                        <td style="width: 75%">{{ mo.name }}</td>
                                        <td>
                                            <a href="{% if mo.filename %}{{ url_for('train.download', filename=mo.filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                            <a href="{% if mo.filename %}{{ url_for('train.download', filename=mo.filename) }}{% else %}#{% endif %}" class="btn btn-warning btn-xs"><i class="fa fa-download fa-fw"></i> 下 载</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无模型结构
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        参考资料
                    </div>
                    <div class="panel-body">
                        {% set ziliao = current_train.train_files.filter_by(train_file_type_id=8).all() %}
                        {% if ziliao %}
                            <table class="table">
                                <tbody>
                                {% for zi in ziliao %}
                                    <tr>
                                        <td style="width: 75%">{{ zi.name }}</td>
                                        <td>
                                            <a href="{% if zi.filename %}{{ url_for('train.download', filename=zi.filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                            <a href="{% if zi.filename %}{{ url_for('train.download', filename=zi.filename) }}{% else %}#{% endif %}" class="btn btn-warning btn-xs"><i class="fa fa-download fa-fw"></i> 下 载</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无参考资料
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        评分标准
                    </div>
                    <div class="panel-body">
                        {% set biaozhun = current_train.train_files.filter_by(train_file_type_id=4).all() %}
                        {% if biaozhun %}
                            <table class="table">
                                <tbody>
                                {% for bi in biaozhun %}
                                    <tr>
                                        <td style="width: 75%">{{ bi.name }}</td>
                                        <td>
                                            <a href="{% if bi.filename %}{{ url_for('train.download', filename=bi.filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                            <a href="{% if bi.filename %}{{ url_for('train.download', filename=bi.filename) }}{% else %}#{% endif %}" class="btn btn-warning btn-xs"><i class="fa fa-download fa-fw"></i> 下 载</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无评分标准
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        论文
                    </div>
                    <div class="panel-body">
                        {% set lunwen = current_train.train_files.filter_by(train_file_type_id=5).all() %}
                        {% if lunwen %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="10%">组号</th>
                                        <th width="50%">成员</th>
                                        <th width="10%">得分</th>
                                        <th width="30%">论文</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for l in lunwen %}
                                    <tr>
                                        <td>{{ l.train_team.number }}</td>
                                        <td>{{ l.train_team.members }}</td>
                                        <td>{{ l.train_team.score }}</td>
                                        <td>
                                            <a href="{% if l.filename %}{{ url_for('train.download', filename=l.filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                            <a href="{% if l.filename %}{{ url_for('train.download', filename=l.filename) }}{% else %}#{% endif %}" class="btn btn-warning btn-xs"><i class="fa fa-download fa-fw"></i> 下 载</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无论文
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        其它文档
                    </div>
                    <div class="panel-body">
                    {% if current_train.train_team.first() %}
                        {% if current_train.train_team.first().train_files.filter_by(train_file_type_id=6).all() or current_train.train_files.filter_by(train_file_type_id=3).all() or current_train.train_files.filter_by(train_file_type_id=7).all() %}
                            {% set teams = current_train.train_team.all() %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="10%">组号</th>
                                        <th width="30%">项目管理</th>
                                        <th width="30%">评分情况</th>
                                        <th width="30%">总结</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for t in teams %}
                                        <tr>
                                            <td>{{ t.number }}</td>
                                            <td>
                                                <a href="{% if t.train_files.filter_by(train_file_type_id=3).first().filename %}{{ url_for('train.download', filename=t.train_files.filter_by(train_file_type_id=3).first().filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                                <a href="{% if t.train_files.filter_by(train_file_type_id=3).first().filename %}{{ url_for('train.download', filename=t.train_files.filter_by(train_file_type_id=3).first().filename) }}{% else %}#{% endif %}" class="btn btn-warning btn-xs"><i class="fa fa-download fa-fw"></i> 下 载</a>
                                            </td>
                                            <td>
                                                <a href="{% if t.train_files.filter_by(train_file_type_id=6).first().filename %}{{ url_for('train.download', filename=t.train_files.filter_by(train_file_type_id=6).first().filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                                <a href="{% if t.train_files.filter_by(train_file_type_id=6).first().filename %}{{ url_for('train.download', filename=t.train_files.filter_by(train_file_type_id=6).first().filename) }}{% else %}#{% endif %}" class="btn btn-warning btn-xs"><i class="fa fa-download fa-fw"></i> 下 载</a>
                                            </td>
                                            <td>
                                                <a href="{% if t.train_files.filter_by(train_file_type_id=7).first().filename %}{{ url_for('train.download', filename=t.train_files.filter_by(train_file_type_id=7).first().filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                                <a href="{% if t.train_files.filter_by(train_file_type_id=7).first().filename %}{{ url_for('train.download', filename=t.train_files.filter_by(train_file_type_id=7).first().filename) }}{% else %}#{% endif %}" class="btn btn-warning btn-xs"><i class="fa fa-download fa-fw"></i> 下 载</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无其它文档
                        {% endif %}
                    {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        评分表
                    </div>
                    <div class="panel-body">
                        {% set biao = current_train.train_files.filter_by(train_file_type_id=6).all() %}
                        {% if biao %}
                            <table class="table">
                                <tbody>
                                {% for bi in biao %}
                                    <tr>
                                        <td style="width: 75%">{{ bi.name }}</td>
                                        <td>
                                            <a href="{% if bi.filename %}{{ url_for('train.download', filename=bi.filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                            <a href="{% if bi.filename %}{{ url_for('train.download', filename=bi.filename) }}{% else %}#{% endif %}" class="btn btn-warning btn-xs"><i class="fa fa-download fa-fw"></i> 下 载</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无评分表
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        小组自我评价
                    </div>
                    <div class="panel-body">
                        <i class="fa fa-tags fa-fw"></i> 此功能暂未开放
                    </div>
                </div>
            <!-- / 内容 -->
            </div>
        </div>
    </div>

{% endblock %}