{% extends "base.html" %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-group">
                <!-- 内容 -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        集训题目
                    </div>
                    <div class="panel-body">
                        {% set timu = current_train.train_files.filter_by(train_file_type_id=1).all() %}
                        {% if timu %}
                            <table class="table">
                                <tbody>
                                {% for ti in timu %}
                                    <tr>
                                        <td style="width: 75%">{{ ti.name }}</td>
                                        <td>
                                            <a href="{% if ti.filename %}{{ url_for('train.preview', filename=ti.filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                            <a href="{% if ti.filename %}{{ url_for('train.download', filename=ti.filename) }}{% else %}#{% endif %}" class="btn btn-warning btn-xs"><i class="fa fa-download fa-fw"></i> 下 载</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无集训题目
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        模型结构
                    </div>
                    <div class="panel-body">
                        {% set moxing = current_train.train_files.filter_by(train_file_type_id=2).all() %}
                        {% if moxing %}
                            <table class="table">
                                <tbody>
                                {% for mo in moxing %}
                                    <tr>
                                        <td style="width: 75%">{{ mo.name }}</td>
                                        <td>
                                            <a href="{% if mo.filename %}{{ url_for('train.preview', filename=mo.filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                            <a href="{% if mo.filename %}{{ url_for('train.download', filename=mo.filename) }}{% else %}#{% endif %}" class="btn btn-warning btn-xs"><i class="fa fa-download fa-fw"></i> 下 载</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无模型结构
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        参考资料
                    </div>
                    <div class="panel-body">
                        {% set ziliao = current_train.train_files.filter_by(train_file_type_id=8).all() %}
                        {% if ziliao %}
                            <table class="table">
                                <tbody>
                                {% for zi in ziliao %}
                                    <tr>
                                        <td style="width: 75%">{{ zi.name }}</td>
                                        <td>
                                            <a href="{% if zi.filename %}{{ url_for('train.preview', filename=zi.filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                            <a href="{% if zi.filename %}{{ url_for('train.download', filename=zi.filename) }}{% else %}#{% endif %}" class="btn btn-warning btn-xs"><i class="fa fa-download fa-fw"></i> 下 载</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无参考资料
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        评分标准
                    </div>
                    <div class="panel-body">
                        {% set biaozhun = current_train.train_files.filter_by(train_file_type_id=4).all() %}
                        {% if biaozhun %}
                            <table class="table">
                                <tbody>
                                {% for bi in biaozhun %}
                                    <tr>
                                        <td style="width: 75%">{{ bi.name }}</td>
                                        <td>
                                            <a href="{% if bi.filename %}{{ url_for('train.preview', filename=bi.filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                            <a href="{% if bi.filename %}{{ url_for('train.download', filename=bi.filename) }}{% else %}#{% endif %}" class="btn btn-warning btn-xs"><i class="fa fa-download fa-fw"></i> 下 载</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无评分标准
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        评分表
                    </div>
                    <div class="panel-body">
                        {% set biao = current_train.train_files.filter_by(train_file_type_id=6).all() %}
                        {% if biao %}
                            <table class="table">
                                <tbody>
                                {% for bi in biao %}
                                    {% if not bi.train_team_id %}
                                    <tr>
                                        <td style="width: 75%">{{ bi.name }}</td>
                                        <td>
                                            <a href="{% if bi.filename %}{{ url_for('train.preview', filename=bi.filename) }}{% else %}#{% endif %}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> 查 看</a>
                                            <a href="{% if bi.filename %}{{ url_for('train.download', filename=bi.filename) }}{% else %}#{% endif %}" class="btn btn-warning btn-xs"><i class="fa fa-download fa-fw"></i> 下 载</a>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <i class="fa fa-tags fa-fw"></i> 当前无评分表
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        数据展示
                    </div>

                    <div class="panel-body">
                    <table id="teamDataTable" class="table table-hover">
                        <thead>
                        <tr>
                            <th width="8%">组号</th>
                            <th width="22%">成员</th>
                            <th width="10%">分数</th>
                            <th width="15%">项目管理</th>
                            <th width="15%">论文</th>
                            <th width="15%">评分表</th>
                            <th width="15%">总结</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if current_train.train_team.all() %}
                            {% for t in current_train.train_team.all() %}
                                <tr>
                                    <td>{{ t.number }}</td>
                                    <td>{{ t.members }}</td>
                                    <td>{{ t.score }}</td>
                                    <td>
                                        {% set three = t.train_files.filter_by(train_file_type_id=3).first() %}
                                        {% if three %}
                                        <a href="{{ url_for('train.preview', filename=three.filename) }}" class="btn btn-outline btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> </a>
                                        <a href="{{ url_for('train.download', filename=three.filename) }}" class="btn btn-outline btn-info btn-xs"><i class="fa fa-download fa-fw"></i> </a>
                                        {% else %}
                                        无
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% set five = t.train_files.filter_by(train_file_type_id=5).first() %}
                                        {% if five %}
                                        <a href="{{ url_for('train.preview', filename=five.filename) }}" class="btn btn-outline btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> </a>
                                        <a href="{{ url_for('train.download', filename=five.filename) }}" class="btn btn-outline btn-info btn-xs"><i class="fa fa-download fa-fw"></i> </a>
                                        {% else %}
                                        无
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% set six = t.train_files.filter_by(train_file_type_id=6).first() %}
                                        {% if six %}
                                        <a href="{{ url_for('train.preview', filename=six.filename) }}" class="btn btn-outline btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> </a>
                                        <a href="{{ url_for('train.download', filename=six.filename) }}" class="btn btn-outline btn-info btn-xs"><i class="fa fa-download fa-fw"></i> </a>
                                        {% else %}
                                        无
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% set seven = t.train_files.filter_by(train_file_type_id=7).first() %}
                                        {% if seven %}
                                        <a href="{{ url_for('train.preview', filename=seven.filename) }}" class="btn btn-outline btn-success btn-xs"><i class="fa fa-eye fa-fw"></i> </a>
                                        <a href="{{ url_for('train.download', filename=seven.filename) }}" class="btn btn-outline btn-info btn-xs"><i class="fa fa-download fa-fw"></i> </a>
                                        {% else %}
                                        无
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        小组自我评价
                    </div>
                    <div class="panel-body">
                        <i class="fa fa-tags fa-fw"></i> 此功能暂未开放
                    </div>
                </div>
            <!-- / 内容 -->
            </div>
        </div>
    </div>

{% endblock %}

{% block base_script %}
    <script type="text/javascript">

    // 小组数据处理功能
    $("#teamDataTable").DataTable({
        "stateSave": true,
        "lengthMenu": [5, 10, 20, 40],
        language: dtLanguage
    });

    </script>
{% endblock %}