{% extends "base_navbar.html" %}
{% block content_block %}
  {% include "train/_navs.html" %}
  <div class="container">
    <div class="card my-5">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link {% if 1 in active_flg %}active{% endif %}" href="{{ url_for('train.file', type_id=1) }}">集训题目</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 2 in active_flg %}active{% endif %}" href="{{ url_for('train.file', type_id=2) }}">参考资料</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 3 in active_flg %}active{% endif %}" href="{{ url_for('train.file', type_id=3) }}">模型结构</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 4 in active_flg %}active{% endif %}" href="{{ url_for('train.file', type_id=4) }}">评分标准</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 5 in active_flg %}active{% endif %}" href="{{ url_for('train.file', type_id=5) }}">评分表</a>
          </li>
        </ul>
      </div>

      <div class="card-body text-center">
          <a href="{{ url_for('train.upload', type_id=active_flg[2]) }}" class="btn btn-primary my-2"><i class="fas fa-plus"></i> 发布文件</a>
      </div>

      <ul class="list-group list-group-flush">
          {% for one in file_list %}
              <li class="list-group-item">
                  <i class="fas fa-file-alt text-primary mr-2"></i>
                  <a href="{{ url_for('train.show_file', file_id=one.id) }}" class="text-dark">
                      {{ one.train_filename }}
                  </a>
                  <a href="{{ url_for('train.del_file', file_id=one.id) }}" class="btn btn-danger btn-sm float-right"><i class="fas fa-trash"></i> 删除</a>
              </li>
          {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}