{% extends 'base_navbar.html' %}

{% block css_block %}
    <!-- bootstrap-select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
{% endblock %}

{% block content_block %}
  <div class="container">
    {% include 'train/_navs.html' %}

    <div class="card my-5">
        <div class="card-header text-center text-info"><h4>{{ team_number }}组评分任务</h4></div>
        <div class="row justify-content-center my-4">
            <div class="col-xl-4 col-md-6 col-8">
                <form method="post">
                    <select class="form-control show-tick selectpicker my-2" name="grade1" data-live-search="true">
                      <option selected value="0">选择任务...</option>
                      <option value="1">1组</option>
                      <option value="2">2组</option>
                      <option value="3">3组</option>
                      <option value="4">4组</option>
                    </select>
                    <select class="form-control show-tick selectpicker my-2" name="grade2" data-live-search="true">
                      <option selected value="0">选择任务...</option>
                      <option value="1">1组</option>
                      <option value="2">2组</option>
                      <option value="3">3组</option>
                      <option value="4">4组</option>
                    </select>
                    <select class="form-control show-tick selectpicker my-2" name="grade3" data-live-search="true">
                      <option selected value="0">选择任务...</option>
                      <option value="1">1组</option>
                      <option value="2">2组</option>
                      <option value="3">3组</option>
                      <option value="4">4组</option>
                    </select>
                    <button class="btn btn-info my-2" type="submit"><i class="fas fa-check"></i> 确定</button>
                    <a href="{{ url_for('train.team') }}" class="btn btn-warning my-2"><i class="fas fa-undo-alt"></i> 取消</a>
                </form>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block script_block %}
    <!-- bootstrap-select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">
    $('.selectpicker').selectpicker({
      style: 'btn-secondary',
      size: 4
    });
    </script>
{% endblock %}