{% extends "base_navbar.html" %}
{% block content_block %}
  {% include "train/_navs.html" %}
  <div class="container my-2">
    {% if current_user.can('train_manage') %}
    <div class="row justify-content-center">
        <a href="{{ url_for('train.alt_apply') }}" class="btn btn-secondary btn-sm"><i class="fas fa-lock-open"></i> {% if current_user.school.apply_status %}关闭报名入口{% else %}开启报名入口{% endif %}</a>
        <a href="{{ url_for('train.import_student') }}" class="btn btn-secondary btn-sm ml-2"><i class="fas fa-upload"></i> 导入学员</a>
    </div>
    {% endif %}
    <table class="table table-hover table-striped my-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">姓名</th>
                <th scope="col">学号</th>
                <th scope="col">小组</th>
                <th scope="col">自我介绍</th>
                {% if current_user.can('train_manage') %}
                <th scope="col">操作</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for one in student_list %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ one.user.real_name }}</td>
                <td>{{ one.user.student_number }}</td>
                <td>{% if one.train_team %}{{ one.train_team.team_number }}组{% endif %}</td>
                <td>{{ one.resume }}</td>
                {% if current_user.can('train_manage') %}
                <td>
                    <a href="{{ url_for('train.del_student', student_id=one.id) }}" class="text-danger mr-2"><i class="fas fa-trash"></i> 删除</a>
                    {% if one.verify_status == True %}
                        <span class="text-success">已通过</span>
                    {% else %}
                        <a href="{{ url_for('train.apply_student', student_id=one.id) }}" class="text-info"><i class="fas fa-check"></i> 通过</a>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}