{% extends "base_navbar.html" %}
{% block content_block %}
    {% include "train/_navs.html" %}
    <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
        <h4 class="my-2">报名学员：45 &nbsp;&nbsp;已审核学员：20</h4>

        <div class="list-group">
          <div class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">唐柯虎</h5>
              <h5 class="mb-1">201410412217</h5>
              <div class="btn-group btn-group-sm">
{#                      <div class="btn btn-info"> 已通过</div>#}
                  <a href="#" class="btn btn-outline-danger"><span class="ion ion-trash-b"></span> 删除</a>
                  <a href="#" class="btn btn-outline-info"><span class="ion ion-checkmark-round"></span> 通过</a>
              </div>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </div>

          <div class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">唐柯虎</h5>
              <h5 class="mb-1">201410412217</h5>
              <div class="btn-group btn-group-sm">
{#                      <div class="btn btn-info"> 已通过</div>#}
                  <a href="#" class="btn btn-outline-danger"><span class="ion ion-trash-b"></span> 删除</a>
                  <a href="#" class="btn btn-outline-info"><span class="ion ion-checkmark-round"></span> 通过</a>
              </div>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </div>

          <div class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">唐柯虎</h5>
              <h5 class="mb-1">201410412217</h5>
              <div class="btn-group btn-group-sm">
                  <div class="btn btn-info"> 已通过</div>
{#                      <a href="#" class="btn btn-outline-danger"><span class="ion ion-trash-b"></span> 删除</a>#}
{#                      <a href="#" class="btn btn-outline-info"><span class="ion ion-checkmark-round"></span> 通过</a>#}
              </div>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </div>
        </div>

        <nav class="my-2">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            <li class="page-item active"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
          </ul>
        </nav>
    </div>
    </div>
{% endblock %}