  <li class="media my-4">
    <span class="mr-3 text-info"><i class="fas fa-user-friends"></i> {{ one['team'].team_number }}组</span>
    <div class="media-body">
      <p>
          {% for x in one['members'] %}
              <a href="{{ url_for('auth.profile', user_id=x.id) }}" class="mr-1 text-dark">{{ x.real_name }}</a>
          {% endfor %}
          {% if current_user.can('train_manage') %}
          <a href="{{ url_for('train.team_member_edit', team_id=one['team'].id) }}" class="mr-2 text-info">分配成员</a>
          {% endif %}

          小组成绩:{{ one['team'].team_score }} &nbsp;&nbsp;

          论文:
          {% if one['paper'] %}
              <a href="{{ url_for('train.show_file', file_id=one['paper'].id) }}" class="text-primary mr-2">查看</a>
              {% if current_user.can('train_manage') or (current_user.is_train_student and current_user.train_student.train_team_id == one['team'].id) %}
              <a href="{{ url_for('train.del_file', file_id=one['paper'].id) }}" class="text-danger mr-2">删除</a>
              {% endif %}
          {% else %}
              {% if current_user.is_train_student and current_user.train_student.train_team_id == one['team'].id %}
              <a href="{{ url_for('train.upload', type_id=6) }}" class="text-info mr-2"><i class="fas fa-cloud-upload-alt"></i>提交</a>
              {% else %}
              未提交 &nbsp;&nbsp;
              {% endif %}
          {% endif %}

          总结:
          {% if one['final_report'] %}
              <a href="{{ url_for('train.show_file', file_id=one['final_report'].id) }}" class="text-primary">查看</a>
              {% if current_user.can('train_manage') or (current_user.is_train_student and current_user.train_student.train_team_id == one['team'].id) %}
              <a href="{{ url_for('train.del_file', file_id=one['final_report'].id) }}" class="text-danger ml-2">删除</a>
              {% endif %}
          {% else %}
              {% if current_user.is_train_student and current_user.train_student.train_team_id == one['team'].id %}
              <a href="{{ url_for('train.upload', type_id=8) }}" class="text-info"><i class="fas fa-cloud-upload-alt"></i>提交</a>
              {% else %}
              未提交
              {% endif %}
          {% endif %}
          &nbsp;&nbsp;

          {% if current_user.can('train_manage') %}
          <a href="{{ url_for('.team_del', team_id=one['team'].id) }}" class="text-danger"><i class="fas fa-trash"></i> 删除该小组</a>
          {% endif %}
      </p>
      <p>
          评分任务:
          {% for x in one['task'] %}
              <a href="{{ url_for('train.grade_download', file_id=x.child_team.train_file.filter_by(train_filetype=6).first().id, index_id=loop.index) }}">
                  {% if current_user.can('train_manage') %}
                  {{ x.child_team.team_number }}组
                  {% else %}
                  任务{{ loop.index }}
                  {% endif %}
              </a>: &nbsp;
              {{ x.score }} &nbsp;
              {% if current_user.can('train_manage') or (current_user.is_train_student and current_user.train_student.train_team_id == one['team'].id) %}
              <a href="{{ url_for('train.grade', grade_id=x.id) }}" class="text-warning mr-1">打分</a> &nbsp;&nbsp;
              {% endif %}
          {% endfor %}

          {% if current_user.can('train_manage') %}
              <a href="{{ url_for('train.grade_manage', team_id=one['team'].id) }}" class="text-info">分配任务</a>
          {% elif not one['task'] %}
              未分配
          {% endif %}
          &nbsp;&nbsp;

          评分表:
          {% if one['grade_paper'] %}
              <a href="{{ url_for('train.show_file', file_id=one['grade_paper'].id) }}" class="text-primary">查看</a>
              {% if current_user.can('train_manage') or (current_user.is_train_student and current_user.train_student.train_team_id == one['team'].id) %}
              <a href="{{ url_for('train.del_file', file_id=one['grade_paper'].id) }}" class="text-danger ml-2">删除</a>
              {% endif %}
          {% else %}
              {% if current_user.is_train_student and current_user.train_student.train_team_id == one['team'].id %}
              <a href="{{ url_for('train.upload', type_id=8) }}" class="text-info"><i class="fas fa-cloud-upload-alt"></i>提交</a>
              {% else %}
              未提交
              {% endif %}
          {% endif %}
      </p>
      <hr>
    </div>
  </li>