{% extends "base_navbar.html" %}
{% block content_block %}
    {% include "train/_navs.html" %}

    <div class="row justify-content-center mt-4">
    <a href="#" class="btn btn-info my-2"><span class="ion ion-paper-airplane"></span> 公布成绩及论文</a>
    </div>

    <div class="row justify-content-center my-4">
    <div class="col-lg-8 col-md-10">
        <ul class="list-unstyled">
          <li class="media my-4">
            <span class="mr-3 mt-1 ion ion-person-stalker"> 5组</span>
            <div class="media-body">
              <p>
                  <a href="#">唐柯虎</a>
                  <a href="#">王跣铭</a>
                  <a href="#">张维雄</a>
                  <a href="#" class="ml-4 text-info"><span class="ion ion-edit"> 修改</span></a>
              </p>
              <div class="row">
                  <div class="col-lg-4">
                      <p>论文：
                          <a href="#" class="mx-2 text-info"><span class="ion ion-eye"></span> 查看</a>
                          <a href="#" class="mx-2 text-info"><span class="ion ion-upload"></span> 上传</a>
                          <a href="#" class="mx-2 text-danger"><span class="ion ion-trash-b"></span> 删除</a>
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <p>小组成绩：80</p>
                  </div>
                  <div class="col-lg-4">
                      <p>总结：
                          <a href="#" class="mx-2 text-info"><span class="ion ion-eye"></span> 查看</a>
                          <a href="#" class="mx-2 text-info"><span class="ion ion-upload"></span> 上传</a>
                          <a href="#" class="mx-2 text-danger"><span class="ion ion-trash-b"></span> 删除</a>
                      </p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-4">
                      <p>
                      评分任务：
                      <a href="#" class="mr-2">任务一</a>
                      <a href="#" class="mr-2">任务二</a>
                      <a href="#" class="mr-2">任务三</a>
                      <a href="#" class="text-info"><span class="ion ion-paper-airplane"></span> 发布任务</a>
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <p>
                      评分结果：
                      一：75
                      <a href="#" class="text-warning mr-2"><span class="ion ion-edit"></span></a>
                      二：85
                      <a href="#" class="text-warning mr-2"><span class="ion ion-edit"></span></a>
                      三：90
                      <a href="#" class="text-warning mr-2"><span class="ion ion-edit"></span></a>
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <p>
                          评分表：
                          <a href="#" class="mx-2 text-info"><span class="ion ion-eye"></span> 查看</a>
                          <a href="#" class="mx-2 text-info"><span class="ion ion-upload"></span> 上传</a>
                          <a href="#" class="mx-2 text-danger"><span class="ion ion-trash-b"></span> 删除</a>
                      </p>
                  </div>
              </div>
              <hr>
            </div>
          </li>

          <li class="media my-4">
            <span class="mr-3 mt-1 ion ion-person-stalker"> 5组</span>
            <div class="media-body">
              <p>
                  <a href="#">唐柯虎</a>
                  <a href="#">王跣铭</a>
                  <a href="#">张维雄</a>
                  <a href="#" class="ml-4 text-info"><span class="ion ion-edit"> 修改</span></a>
              </p>
              <div class="row">
                  <div class="col-lg-4">
                      <p>论文：
                          <a href="#" class="mx-2 text-info"><span class="ion ion-eye"></span> 查看</a>
                          <a href="#" class="mx-2 text-info"><span class="ion ion-upload"></span> 上传</a>
                          <a href="#" class="mx-2 text-danger"><span class="ion ion-trash-b"></span> 删除</a>
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <p>小组成绩：80</p>
                  </div>
                  <div class="col-lg-4">
                      <p>总结：
                          <a href="#" class="mx-2 text-info"><span class="ion ion-eye"></span> 查看</a>
                          <a href="#" class="mx-2 text-info"><span class="ion ion-upload"></span> 上传</a>
                          <a href="#" class="mx-2 text-danger"><span class="ion ion-trash-b"></span> 删除</a>
                      </p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-4">
                      <p>
                      评分任务：
                      <a href="#" class="mr-2">任务一</a>
                      <a href="#" class="mr-2">任务二</a>
                      <a href="#" class="mr-2">任务三</a>
                      <a href="#" class="text-info"><span class="ion ion-paper-airplane"></span> 发布任务</a>
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <p>
                      评分结果：
                      一：75
                      <a href="#" class="text-warning mr-2"><span class="ion ion-edit"></span></a>
                      二：85
                      <a href="#" class="text-warning mr-2"><span class="ion ion-edit"></span></a>
                      三：90
                      <a href="#" class="text-warning mr-2"><span class="ion ion-edit"></span></a>
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <p>
                          评分表：
                          <a href="#" class="mx-2 text-info"><span class="ion ion-eye"></span> 查看</a>
                          <a href="#" class="mx-2 text-info"><span class="ion ion-upload"></span> 上传</a>
                          <a href="#" class="mx-2 text-danger"><span class="ion ion-trash-b"></span> 删除</a>
                      </p>
                  </div>
              </div>
              <hr>
            </div>
          </li>

          <li class="media my-4">
            <span class="mr-3 mt-1 ion ion-person-stalker"> 5组</span>
            <div class="media-body">
              <p>
                  <a href="#">唐柯虎</a>
                  <a href="#">王跣铭</a>
                  <a href="#">张维雄</a>
                  <a href="#" class="ml-4 text-info"><span class="ion ion-edit"> 修改</span></a>
              </p>
              <div class="row">
                  <div class="col-lg-4">
                      <p>论文：
                          <a href="#" class="mx-2 text-info"><span class="ion ion-eye"></span> 查看</a>
                          <a href="#" class="mx-2 text-info"><span class="ion ion-upload"></span> 上传</a>
                          <a href="#" class="mx-2 text-danger"><span class="ion ion-trash-b"></span> 删除</a>
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <p>小组成绩：80</p>
                  </div>
                  <div class="col-lg-4">
                      <p>总结：
                          <a href="#" class="mx-2 text-info"><span class="ion ion-eye"></span> 查看</a>
                          <a href="#" class="mx-2 text-info"><span class="ion ion-upload"></span> 上传</a>
                          <a href="#" class="mx-2 text-danger"><span class="ion ion-trash-b"></span> 删除</a>
                      </p>
                  </div>
              </div>
{#              <div class="row">#}
{#                  <div class="col-lg-4">#}
{#                      <p>#}
{#                      评分任务：#}
{#                      <a href="#" class="mr-2">任务一</a>#}
{#                      <a href="#" class="mr-2">任务二</a>#}
{#                      <a href="#" class="mr-2">任务三</a>#}
{#                      <a href="#" class="text-info"><span class="ion ion-paper-airplane"></span> 发布任务</a>#}
{#                      </p>#}
{#                  </div>#}
{#                  <div class="col-lg-4">#}
{#                      <p>#}
{#                      评分结果：#}
{#                      一：75#}
{#                      <a href="#" class="text-warning mr-2"><span class="ion ion-edit"></span></a>#}
{#                      二：85#}
{#                      <a href="#" class="text-warning mr-2"><span class="ion ion-edit"></span></a>#}
{#                      三：90#}
{#                      <a href="#" class="text-warning mr-2"><span class="ion ion-edit"></span></a>#}
{#                      </p>#}
{#                  </div>#}
{#                  <div class="col-lg-4">#}
{#                      <p>#}
{#                          评分表：#}
{#                          <a href="#" class="mx-2 text-info"><span class="ion ion-eye"></span> 查看</a>#}
{#                          <a href="#" class="mx-2 text-info"><span class="ion ion-upload"></span> 上传</a>#}
{#                          <a href="#" class="mx-2 text-danger"><span class="ion ion-trash-b"></span> 删除</a>#}
{#                      </p>#}
{#                  </div>#}
{#              </div>#}
              <hr>
            </div>
          </li>
        </ul>
    </div>
    </div>
{% endblock %}