{% extends "base_navbar.html" %}
{% block content_block %}
  <div class="container">
    {% include "train/_navs.html" %}

    <div class="row justify-content-center mt-4">
    <a href="#" class="btn btn-primary my-2"><i class="fas fa-paper-plane"></i> 公布成绩及论文</a>
    </div>

    <ul class="list-unstyled">
      <li class="media my-4">
        <span class="mr-3 text-info"><i class="fas fa-user-friends"></i> 5组</span>
        <div class="media-body">
          <p>
              <a href="#" class="text-dark">唐柯虎</a>
              <a href="#" class="text-dark">王跣铭</a>
              <a href="#" class="text-dark">张维雄</a>
              <a href="{{ url_for('train.team_member_edit', team_id=1) }}" class="ml-4 text-info"><i class="fas fa-edit"></i> 修改</a>
          </p>
          <div class="row">
              <div class="col-lg-4">
                  <p>论文：
                      <a href="#" class="mx-2 text-info"><i class="fas fa-eye"></i> 查看</a>
                      <a href="{{ url_for('train.upload', type_id=6) }}" class="mx-2 text-info"><i class="fas fa-cloud-upload-alt"></i> 上传</a>
                      <a href="#" class="mx-2 text-danger"><i class="fas fa-trash"></i> 删除</a>
                  </p>
              </div>
              <div class="col-lg-4">
                  <p>小组成绩：80</p>
              </div>
              <div class="col-lg-4">
                  <p>总结：
                      <a href="#" class="mx-2 text-info"><i class="fas fa-eye"></i> 查看</a>
                      <a href="{{ url_for('train.upload', type_id=6) }}" class="mx-2 text-info"><i class="fas fa-cloud-upload-alt"></i> 上传</a>
                      <a href="#" class="mx-2 text-danger"><i class="fas fa-trash"></i> 删除</a>
                  </p>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4">
                  <p>
                  评分任务：
                  <a href="#" class="mr-2">任务一</a>
                  <a href="#" class="mr-2">任务二</a>
                  <a href="#" class="mr-2">任务三</a>
                  <a href="{{ url_for('train.grade_manage', team_id=1) }}" class="text-info"><i class="fas fa-paper-plane"></i> 发布任务</a>
                  </p>
              </div>
              <div class="col-lg-4">
                  <p>
                  评分结果：
                  一：75
                  <a href="{{ url_for('train.grade', team_id=1) }}" class="text-warning mr-2"><i class="fas fa-pencil-alt"></i></a>
                  二：85
                  <a href="#" class="text-warning mr-2"><i class="fas fa-pencil-alt"></i></a>
                  三：90
                  <a href="#" class="text-warning mr-2"><i class="fas fa-pencil-alt"></i></a>
                  </p>
              </div>
              <div class="col-lg-4">
                  <p>
                      评分表：
                      <a href="#" class="mx-2 text-info"><i class="fas fa-eye"></i> 查看</a>
                      <a href="{{ url_for('train.upload', type_id=7) }}" class="mx-2 text-info"><i class="fas fa-cloud-upload-alt"></i> 上传</a>
                      <a href="#" class="mx-2 text-danger"><i class="fas fa-trash"></i> 删除</a>
                  </p>
              </div>
          </div>
          <hr>
        </div>
      </li>

      <li class="media my-4">
        <span class="mr-3 text-info"><i class="fas fa-user-friends"></i> 5组</span>
        <div class="media-body">
          <p>
              <a href="#" class="text-dark">唐柯虎</a>
              <a href="#" class="text-dark">王跣铭</a>
              <a href="#" class="text-dark">张维雄</a>
              <a href="{{ url_for('train.team_member_edit', team_id=1) }}" class="ml-4 text-info"><i class="fas fa-edit"></i> 修改</a>
          </p>
          <div class="row">
              <div class="col-lg-4">
                  <p>论文：
                      <a href="#" class="mx-2 text-info"><i class="fas fa-eye"></i> 查看</a>
                      <a href="{{ url_for('train.upload', type_id=6) }}" class="mx-2 text-info"><i class="fas fa-cloud-upload-alt"></i> 上传</a>
                      <a href="#" class="mx-2 text-danger"><i class="fas fa-trash"></i> 删除</a>
                  </p>
              </div>
              <div class="col-lg-4">
                  <p>小组成绩：80</p>
              </div>
              <div class="col-lg-4">
                  <p>总结：
                      <a href="#" class="mx-2 text-info"><i class="fas fa-eye"></i> 查看</a>
                      <a href="{{ url_for('train.upload', type_id=6) }}" class="mx-2 text-info"><i class="fas fa-cloud-upload-alt"></i> 上传</a>
                      <a href="#" class="mx-2 text-danger"><i class="fas fa-trash"></i> 删除</a>
                  </p>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4">
                  <p>
                  评分任务：
                  <a href="#" class="mr-2">任务一</a>
                  <a href="#" class="mr-2">任务二</a>
                  <a href="#" class="mr-2">任务三</a>
                  <a href="{{ url_for('train.grade_manage', team_id=1) }}" class="text-info"><i class="fas fa-paper-plane"></i> 发布任务</a>
                  </p>
              </div>
              <div class="col-lg-4">
                  <p>
                  评分结果：
                  一：75
                  <a href="{{ url_for('train.grade', team_id=1) }}" class="text-warning mr-2"><i class="fas fa-pencil-alt"></i></a>
                  二：85
                  <a href="#" class="text-warning mr-2"><i class="fas fa-pencil-alt"></i></a>
                  三：90
                  <a href="#" class="text-warning mr-2"><i class="fas fa-pencil-alt"></i></a>
                  </p>
              </div>
              <div class="col-lg-4">
                  <p>
                      评分表：
                      <a href="#" class="mx-2 text-info"><i class="fas fa-eye"></i> 查看</a>
                      <a href="{{ url_for('train.upload', type_id=7) }}" class="mx-2 text-info"><i class="fas fa-cloud-upload-alt"></i> 上传</a>
                      <a href="#" class="mx-2 text-danger"><i class="fas fa-trash"></i> 删除</a>
                  </p>
              </div>
          </div>
          <hr>
        </div>
      </li>

      <li class="media my-4">
        <span class="mr-3 text-info"><i class="fas fa-user-friends"></i> 5组</span>
        <div class="media-body">
          <p>
              <a href="#" class="text-dark">唐柯虎</a>
              <a href="#" class="text-dark">王跣铭</a>
              <a href="#" class="text-dark">张维雄</a>
              <a href="{{ url_for('train.team_member_edit', team_id=1) }}" class="ml-4 text-info"><i class="fas fa-edit"></i> 修改</a>
          </p>
          <div class="row">
              <div class="col-lg-4">
                  <p>论文：
                      <a href="#" class="mx-2 text-info"><i class="fas fa-eye"></i> 查看</a>
                      <a href="{{ url_for('train.upload', type_id=6) }}" class="mx-2 text-info"><i class="fas fa-cloud-upload-alt"></i> 上传</a>
                      <a href="#" class="mx-2 text-danger"><i class="fas fa-trash"></i> 删除</a>
                  </p>
              </div>
              <div class="col-lg-4">
                  <p>小组成绩：80</p>
              </div>
              <div class="col-lg-4">
                  <p>总结：
                      <a href="#" class="mx-2 text-info"><i class="fas fa-eye"></i> 查看</a>
                      <a href="{{ url_for('train.upload', type_id=6) }}" class="mx-2 text-info"><i class="fas fa-cloud-upload-alt"></i> 上传</a>
                      <a href="#" class="mx-2 text-danger"><i class="fas fa-trash"></i> 删除</a>
                  </p>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4">
                  <p>
                  评分任务：
                  <a href="#" class="mr-2">任务一</a>
                  <a href="#" class="mr-2">任务二</a>
                  <a href="#" class="mr-2">任务三</a>
                  <a href="{{ url_for('train.grade_manage', team_id=1) }}" class="text-info"><i class="fas fa-paper-plane"></i> 发布任务</a>
                  </p>
              </div>
              <div class="col-lg-4">
                  <p>
                  评分结果：
                  一：75
                  <a href="{{ url_for('train.grade', team_id=1) }}" class="text-warning mr-2"><i class="fas fa-pencil-alt"></i></a>
                  二：85
                  <a href="#" class="text-warning mr-2"><i class="fas fa-pencil-alt"></i></a>
                  三：90
                  <a href="#" class="text-warning mr-2"><i class="fas fa-pencil-alt"></i></a>
                  </p>
              </div>
              <div class="col-lg-4">
                  <p>
                      评分表：
                      <a href="#" class="mx-2 text-info"><i class="fas fa-eye"></i> 查看</a>
                      <a href="{{ url_for('train.upload', type_id=7) }}" class="mx-2 text-info"><i class="fas fa-cloud-upload-alt"></i> 上传</a>
                      <a href="#" class="mx-2 text-danger"><i class="fas fa-trash"></i> 删除</a>
                  </p>
              </div>
          </div>
          <hr>
        </div>
      </li>
    </ul>
  </div>
{% endblock %}