{% extends 'base_navbar.html' %}

{% block content_block %}
  {% include 'train/_navs.html' %}
  <div class="container">
    <div class="card my-5">
        <div class="card-header text-center text-info"><h4>{% if team_num %}{{ team_num }}组{% endif %}{{ type_name }}文件上传</h4></div>
        <div class="row justify-content-center my-4">
            <div class="col-lg-8 col-md-8 col-sm-10">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleFormControlFile1">请选择文件...</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file">
                    </div>
                    <button class="btn btn-primary" type="submit"><i class="fas fa-cloud-upload-alt"></i> 上传</button>
                </form>
            </div>
        </div>
    </div>
  </div>
{% endblock %}