{% extends "base_navbar.html" %}
{% block content_block %}
    <div class="container">
        <div class="row justify-content-center my-4">
            <div class="col-xl-8 col-md-10">
                <h4>{{ the_news.news_title }}</h4>
                <p class="text-muted">{{ moment(the_news.create_time).format('LL') }} &nbsp;&nbsp; {{ the_news.read_count }}点击量</p>
                <a href="{{ url_for('.edit', news_id=the_news.id) }}"><i class="fas fa-edit"></i> 编辑</a>
                <a href="{{ url_for('.delete', news_id=the_news.id) }}" class="ml-4"><i class="fas fa-trash"></i> 删除</a>
                <hr>
                <p>{{ the_news.news_content | safe }}</p>
            </div>
        </div>
    </div>
{% endblock %}