{% extends "base_navbar.html" %}
{% block content_block %}
    <div class="container">
        {% include "_search.html" %}
        <div class="row justify-content-center">
            <a href="{{ url_for('.add') }}" class="btn btn-primary"><i class="fas fa-plus"></i> 发布新闻公告</a>
        </div>
        <div class="row my-4">
            <div class="list-group">
              <a href="{{ url_for('.info', news_id=1) }}" class="list-group-item list-group-item-action flex-column align-items-start my-2">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">这里是一个新闻标题</h5>
                  <small>3点击量</small>
                </div>
                <small class="text-muted">2018-05-13</small>
                <p class="mb-1">这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容</p>
              </a>
              <a href="{{ url_for('.info', news_id=1) }}" class="list-group-item list-group-item-action flex-column align-items-start my-2">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">这里是一个新闻标题</h5>
                  <small>3点击量</small>
                </div>
                <small class="text-muted">2018-05-13</small>
                <p class="mb-1">这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容</p>
              </a>
              <a href="{{ url_for('.info', news_id=1) }}" class="list-group-item list-group-item-action flex-column align-items-start my-2">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">这里是一个新闻标题</h5>
                  <small>3点击量</small>
                </div>
                <small class="text-muted">2018-05-13</small>
                <p class="mb-1">这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容这里是新闻内容</p>
              </a>
            </div>
        </div>
    </div>
{% endblock %}