<ul class="list-group list-group-flush">
  {% for one in resource %}
      <li class="list-group-item">
        <i class="fas fa-file-alt text-primary mr-2"></i>
        <a href="{{ url_for('know.show_resource', resource_id=one.id) }}" class="text-dark">{{ one.resource_name }}</a>
        <small class="text-muted ml-2">{{ one.user.username }} &nbsp; {{ moment(one.create_time).format('LL') }} &nbsp; {{ one.know_type.type_name }}</small>
        <span class="badge badge-success badge-pill">{{ one.helpful_count }} 赞</span>
        <a href="{{ url_for('know.helpful', resource_id=one.id) }}" class="btn btn-success float-right btn-sm"><i class="fas fa-thumbs-up"></i> 点赞</a>
      </li>
  {% endfor %}

  {% if baidu_result %}
    {% for one in baidu_result %}
        <li class="list-group-item">
            <i class="fas fa-file-alt text-primary mr-2"></i>
            <a href="{{ one['url'] }}" class="text-dark" target="_blank">
                {{ one['title'] }}
            </a>
            <small class="text-muted ml-2">{{ one['source'] }} &nbsp; {{ one['data'] }} &nbsp; 网络资源</small>
        </li>
    {% endfor %}
  {% endif %}

  {% if not resource and not baidu_result %}
      <li class="list-group-item">当前无学习资源...</li>
  {% endif %}
</ul>