<ul class="list-group list-group-flush">
    <li class="list-group-item" data-toggle="tooltip" title="发布人：<u>唐柯虎</u>；<br>发布时间：2018-05-02；<br>所属类别：建模集训">
        <span class="ion ion-document-text mr-2"></span>
        <a href="#">
            数学建模相关模型概览
        </a>
        <span class="badge badge-success badge-pill">66 赞</span>
        <a href="#" class="btn btn-success float-right btn-sm"><span class="ion ion-thumbsup"></span> 点赞</a>
    </li>
    <li class="list-group-item" data-toggle="tooltip" title="发布人：<u>唐柯虎</u>；<br>发布时间：2018-05-02；<br>所属类别：建模集训">
        <span class="ion ion-document-text mr-2"></span>
        <a href="#">
            数学建模相关模型概览
        </a>
        <span class="badge badge-success badge-pill">66 赞</span>
        <a href="#" class="btn btn-success float-right btn-sm"><span class="ion ion-thumbsup"></span> 点赞</a>
    </li>
    <li class="list-group-item" data-toggle="tooltip" title="发布人：<u>唐柯虎</u>；<br>发布时间：2018-05-02；<br>所属类别：建模集训">
        <span class="ion ion-document-text mr-2"></span>
        <a href="#">
            数学建模相关模型概览
        </a>
        <span class="badge badge-success badge-pill">66 赞</span>
        <a href="#" class="btn btn-success float-right btn-sm"><span class="ion ion-thumbsup"></span> 点赞</a>
    </li>
</ul>