<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <i class="fas fa-file-alt text-primary mr-2"></i>
        <a href="#" class="text-dark">
            数学建模相关模型概览
        </a>
        <small class="text-muted ml-2">唐柯虎 &nbsp; 2018-05-02 &nbsp; 集训文件</small>
        <span class="badge badge-success badge-pill">66 赞</span>
        <a href="#" class="btn btn-success float-right btn-sm"><i class="fas fa-thumbs-up"></i> 点赞</a>
    </li>
    <li class="list-group-item">
        <i class="fas fa-file-alt text-primary mr-2"></i>
        <a href="#" class="text-dark">
            python编码经验
        </a>
        <small class="text-muted ml-2">唐柯虎 &nbsp; 2018-05-02 &nbsp; 集训文件</small>
        <span class="badge badge-success badge-pill">66 赞</span>
        <a href="#" class="btn btn-success float-right btn-sm"><i class="fas fa-thumbs-up"></i> 点赞</a>
    </li>
    <li class="list-group-item">
        <i class="fas fa-file-alt text-primary mr-2"></i>
        <a href="#" class="text-dark">
            ARIMA模型简介
        </a>
        <small class="text-muted ml-2">唐柯虎 &nbsp; 2018-05-02 &nbsp; 集训文件</small>
        <span class="badge badge-success badge-pill">66 赞</span>
        <a href="#" class="btn btn-success float-right btn-sm"><i class="fas fa-thumbs-up"></i> 点赞</a>
    </li>
</ul>