{% extends 'base_head.html' %}

{% block body_block %}
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img class="my-2 rounded-circle" src="{{ url_for('static', filename='img/logo.jpg') }}" alt="" width="72" height="72">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link {% if 'know' in active_flg %} active {% endif %}" href="{{ url_for('know.push') }}">Know <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link {% if 'train' in active_flg %} active {% endif %}" href="{{ url_for('train.file', type_id=1) }}">Train</a>
              <a class="nav-item nav-link {% if 'teaching' in active_flg %} active {% endif %}" href="{{ url_for('teaching.main') }}">Teaching</a>
              <a class="nav-item nav-link {% if 'community' in active_flg %} active {% endif %}" href="{{ url_for('community.main', words='null') }}">Community</a>
              <a class="nav-item nav-link {% if 'news' in active_flg %} active {% endif %}" href="{{ url_for('news.main') }}">News</a>
              <a class="nav-item nav-link {% if 'management' in active_flg %} active {% endif %}" href="#">Management</a>
          </div>
          <form class="form-inline my-2">
              <a class="text-white" href="{{ url_for('auth.profile') }}" style="text-decoration: none;">
                <img src="{{ url_for('static', filename='img/logo.jpg') }}" class="rounded" width="30" height="30" alt="">
                {{ current_user.username }}
              </a>
              <a class="text-white" href="{{ url_for('auth.logout') }}" style="text-decoration: none;">
                  <span class="ion ion-log-out ml-4 pb-2"> 登出</span>
              </a>
          </form>
        </div>
      </div>
    </nav>

    {% block content_block %}{% endblock %}

{% endblock %}